<strong>Olá, {{ deliverer }}</strong>
</p>Houve um cancelamento de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }}<br />
  <strong>Data do cancelamento:</strong> {{ date }} <br />
  <strong>Produto:</strong> {{ product }} <br />
  <strong>Quantidade:</strong> {{ quantity }} <br />
  <br />
</p>
